<%- include("header") %>

<div class="box">
    <form action="/addList" method="post" class="item">
        <input type="text" name="newList" placeholder="Enter name of new list category" autocomplete="off">
        <button type="submit" class="submitBtn">+</button>
    </form>
</div>

<%- include("footer") %>