<%- include('protectHeader') %>

<div class="container mt-5">
  <h1 style="color: white;">Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                name="username"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn" style="color: white; background-color:#0b9537;">Login</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <a
            class="btn btn-block btn-social btn-google btn-lg border-0"
            href="/auth/google"
            role="button"
          >
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
