<%- include ("protectHeader") %>

<div class="d-flex flex-column min-vh-100 justify-content-center text-center">
    <div class="container">
    <i class="fa-solid fa-clipboard-list" style="font-size: 4rem; color: white;"></i>
      <h1 class="display-3" style="color: whitesmoke;">to-Do-List</h1>
      <p class="lead" style="color: white;">A super simple app to keep you on track all day, everyday!</p>
      <hr style="color: white;">
      <a class="btn btn-lg btn-dark border-white" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg border-white" href="/login" role="button">Login</a>
  
    </div>
  </div>

<%- include ("footer") %>